<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HackGT Check In Administration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
	</head>
	<body>
		<section class="section container">
			<h1 class="title">HackGT Check-In</h1>
			<p class="subtitle">Embedded Manager UI</p>

			<div class="columns is-mobile">
				<form class="column is-half is-offset-one-quarter" method="POST">
					<div class="field">
						<input class="input" type="text" placeholder="Username" name="username" />
					</div>
					<div class="field">
						<input class="input" type="password" placeholder="Password" name="password" />
					</div>
					<div class="field">
						<p class="control has-text-centered">
							<button class="button is-primary is-medium">
								Login
							</button>
						</p>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>
